html,body, div, ul, li, nav{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
.title{
    text-align: center;
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
}

#info-board{
    background-color: dimgrey;
    width: 650px;
    padding: 5px;
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    margin: auto;
}

#info-board h3{
    text-align: center;
    color: #303030;
}

#info-board .scoreboard table{
    width: 100%;
    margin: auto;
}

#info-board .scoreboard table tr td{
    text-align: center;
    padding: 5px;
    width: 25%;
}


#board{
    width: 650px;
    height: 400px;
    background-color:forestgreen;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: absolute;
    padding: 0px;
    box-sizing: border-box;
}

#board > div{
    position: absolute;
}

.current-score{
    width: 100px;
    height: 100px;
    text-align: center;
    font-size: 60px;
    line-height: 100px;
    color: #fff;
}

#computer-score{
    left: 25%;
}
#player-score{
    right: 25%;
}

#line{

    width: 0px;;
    height: 100%;
    left: 0;
    right: 0;
    margin: 0 auto;
    border: 3px dashed white;
    overflow: hidden;
}

#ball{
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
}

.paddle{
    width: 20px;
    height: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
}

#computer-paddle{
    background-color: aqua;
}
#player-paddle{
    right: 0;
    background-color: bisque;
}

#modal-box{
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: black;
    opacity: 0.98;
}

#start-page{
    margin: auto;
    font-size: 30px;
    width: 50%;
    height: 50%;
    position: absolute;
    text-align: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #303030;
    border-radius: 7px;
}
#start-page h1{
    font-size: 40px;
}

#start-page h2{
    color: red;
}

#start-page ul{
    list-style: none;
}
#start-page ul li{
    height: 50px;
    line-height: 50px;
    cursor: pointer;
}
#start-page ul li:hover{
    background-color: #ff8040;
}

#start-page #btn-start{
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 160px;
    padding: 10px;
    border-radius: 10px;
    background-color:#5d5d5d;
    cursor: pointer;
}

#restart-box{
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: black;
    opacity: 0.98;
    display: none;
}

#restart{
    width: 50%;
    height:30%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color:#5d5d5d;
    border-radius: 7px;
}

#restart h2{
    font-size: 30px;
    width: 100%;
    height: 100px;
    line-height: 100px;
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
}

#restart #btn-restart{
    background-color:#5d5d5d;
    width: 170px;
    height: 70px;
    line-height: 70px;
    font-size: 30px;
    text-align: center;
    border-radius: 7px;
    cursor: pointer;
    position: absolute;
    bottom: 10px;
    right: 20px;
}

