.title{
    text-align: center;
}

#board{
    width: 650px;
    height: 400px;
    background-color:black;
    margin: auto;
    position: relative;
}

.paddle{
    width: 20px;
    height: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
}

#line{
    background-color: red;
    width: 1px;;
    height: 100%;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    border: 1px dashed yellow;
}

#ball{
    width: 20px;
    height: 20px;
    position: absolute;

    background-color: white;
    border-radius: 50%;
}

#computer-paddle{
    background-color: aqua;
}
#player-paddle{
    right: 0;
    background-color: bisque;
}